{% include 'base.html' %}
{% block contents %}
<h1> Deposit </h1>
{% if balance %}
    <h1>After deposit, your balance is {{balance}}</h1>
    <a href="{% url 'account:home' %}"> Remove the card </a>
    <br>
    <a href = "{% url 'account:withdraw' card.pk %}"> Withdraw </a>
    <br>
    <a href = "{% url 'account:deposit' card.pk%}"> Re-deposit </a>
{% else %}
    <form method = 'POST'> 
        {% csrf_token %}
            {{form.as_p}}
        <button type = 'submit'> Deposit </button> 
    </form>
{% endif %}
{% endblock contents %}
